<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">

    <div class="text-center" style="background-color: #1C7293; padding: 25px; border-radius: 10px; box-shadow: 0 0 10px;">

        <div class="container-fluid">
            <img src="../images/logo.png" alt="Logo Banco" class="img-fluid mb-4" style="size: auto;">
        </div>

        <div class="container-fluid">
            <h3 style="margin-bottom: 20px;">Bienvenido al Cajero Automático</h3>

            <p class="text-muted" style="font-size: 18px; margin-bottom: 25px; color: #9EB3C2;">
                Por favor ingresa tu tarjeta para comenzar
            </p>
        </div>

        <div class="alert alert-warning mt-4" role="alert" style="font-size: 16px; border-radius: 5px;">
            Asegúrate de recordar tu PIN o tenerlo a disposición
        </div>

    </div>

</div>

